/* ==========================================
   DATE PICKER STYLE
   ========================================== */
.datepicker--day-name {
    color: #7fb401 !important;
}

.datepicker--time-row input[type='range']:focus::-webkit-slider-thumb,
.datepicker--time-row input[type='range']:focus::-moz-range-thumb,
.datepicker--time-row input[type='range']:focus::-ms-thumb {
    background: #7fb401 !important;
    border-color: #7fb401 !important;
}

.datepicker--cell.-current-.-in-range,
.datepicker--cell.-current-.-focus-,
.datepicker--button {
    color: #7fb401 !important;
}

.datepicker--cell.-current- {
    color: #7fb401;
}

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current-,
.datepicker--cell.-selected-.-focus-,
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade-,
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
    background: #7fb401;
}
